body {
  margin: 0;
  display: flex;
  background-color: #cae9ff;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
* {
  box-sizing: border-box;
}
